<!DOCTYPE html>
<html>
<head>
    <title>Browse Documents</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1>Documents</h1>
    <ul>
        <ul>
            {% for doc in documents %}
            <a href="/view/{{ doc._id }}" class="document-link" target="_blank">
                <li>
                    {{ doc.title }} - Author: {{ doc.author }},
                    Book Title: {{ doc.book_title }},
                    Year: {{ doc.year }},
                    URN: {{ doc.urn }}
                </li>
            </a>
            {% endfor %}
        </ul>
    </ul>
</body>
</html>
