<!DOCTYPE html>
<html>
<head>
    <title>View {{ doc.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1>{{ doc.title }}</h1>
    <div class="metadata">
        <p>Author: {{ doc.author }}</p>
        <p>Book Title: {{ doc.book_title }}</p>
        <p>Year: {{ doc.year }}</p>
        <p>URN: <a href="https://www.nb.no/items/{{ doc.urn }}?page={{ doc.page_start }}" target="_blank">{{ doc.urn }}</a></p>
    </div>
    <div>
        {{ doc.text|safe }}
    </div>
</body>
</html>